<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369877433085-nn5uqu25bdakb3m1gh6dsq3c3i9k7tsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369877433085-nn5uqu25bdakb3m1gh6dsq3c3i9k7tsk</string>
	<key>API_KEY</key>
	<string>AIzaSyB3TY_BKqZJKVEGtOFvU2oe3zAYChmUkBc</string>
	<key>GCM_SENDER_ID</key>
	<string>369877433085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hieubui.bearchat</string>
	<key>PROJECT_ID</key>
	<string>bearchat-a727c</string>
	<key>STORAGE_BUCKET</key>
	<string>bearchat-a727c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369877433085:ios:49bdf3e825ebe5e5b11c94</string>
</dict>
</plist>